In [2]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
scale=MinMaxScaler()
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
from sklearn.model_selection import train_test_split

In [3]:
data=pd.read_csv('DATA_2.01_SKU.csv')

In [4]:
data.ADS

0      1
1      3
2      1
3      2
4      9
      ..
95     1
96     2
97     2
98    10
99     8
Name: ADS, Length: 100, dtype: int64

In [34]:
data.dtypes

ADS      int64
CV     float64
dtype: object

In [41]:
fitted_data=scale.fit_transform(data)

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [62]:
data=pd.DataFrame(data,columns=['ADS','CV'])

In [63]:
data.head()

        ADS        CV
0 -1.100182  1.202742
1 -0.622880  0.016940
2 -1.100182  0.821591
3 -0.861531 -0.025410
4  0.809028 -1.211212

In [60]:
data = scaler.fit_transform(data)

In [64]:
data

         ADS        CV
0  -1.100182  1.202742
1  -0.622880  0.016940
2  -1.100182  0.821591
3  -0.861531 -0.025410
4   0.809028 -1.211212
..       ...       ...
95 -1.100182  1.075692
96 -0.861531 -0.491261
97 -0.861531  1.245092
98  1.047679  0.652191
99  0.570376 -1.465313

[100 rows x 2 columns]

In [1]:
x=data.ADS
y=data.CV
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.2, random_state=42)

NameError: name 'data' is not defined

In [5]:
my_pets = ['alfred', 'tabitha', 'william', 'arla']

uppered_pets = list(map(str.upper, my_pets))

uppered_pets

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']