**SUPPORT VECTOR MACHINE**

*IT IS A SUPERVISED MACHIN ELEARNING*
SVR(SUPPORT VECTOR REGRESSION)
SVC(SUPPORT VECTOR CLASSIFICATION)
KERNAL(LOW DIMENSION TO HIGH DIMENSION)
->RADIUS BASIS FUNCTION(RBF)
->SIGMOID
->LINEAR
C:IT IS USED TO HANDLE ERRORS
->
GAMMA
->LOW GAMMA(LARGER DATA)
->HIGH GAMMA(

PREDICT PRIZE OF AIRPLANES
REGREESION
PROBABILITIES->CLASSIFICATION(LOGISTIC REGRESSION)
TWO THINGS EFFECTING(SVM)

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv('/content/car_evaluation.csv')

In [ ]:
data.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [ ]:
X=data.loc[:,['doors','persons']]
Y=data.loc[:,['outcome']]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,random_state=10)

In [ ]:
from sklearn.svm import SVC

In [ ]:
model=SVC(kernel='rbf',gamma=0.01)

In [ ]:
model.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(gamma=0.01)

In [ ]:
Y_predict=model.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(Y_test,Y_predict)*100

71.06481481481481

In [ ]:
data.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
e=LabelEncoder()

In [ ]:
data.outcome=e.fit_transform(data.outcome)

In [ ]:
data

     buying  maint  doors  persons lug_boot safety  outcome
0     vhigh  vhigh      2        2    small    low        2
1     vhigh  vhigh      2        2    small    med        2
2     vhigh  vhigh      2        2    small   high        2
3     vhigh  vhigh      2        2      med    low        2
4     vhigh  vhigh      2        2      med    med        2
...     ...    ...    ...      ...      ...    ...      ...
1723    low    low      5        5      med    med        1
1724    low    low      5        5      med   high        3
1725    low    low      5        5      big    low        2
1726    low    low      5        5      big    med        1
1727    low    low      5        5      big   high        3

[1728 rows x 7 columns]

*confusion matrics*

In [ ]:
from sklearn.metrics import accuracy_score, confusion_matrix,r2_score

In [ ]:
accuracy_score(Y_test,Y_predict)*100

71.06481481481481

In [ ]:
confusion_matrix(Y_test,Y_predict)

array([[  0,   0,  84,   0],
       [  0,   0,  19,   0],
       [  0,   0, 307,   0],
       [  0,   0,  22,   0]])

In [ ]:
a=[1,2,3]
b=[1,2,4]
r2_score(a,b)

In [ ]:
#assignment
#data in numpy
#data imbalance
#dataframe
#check the data
#preprocessing
#subplots

In [ ]:
from collections import Counter

In [ ]:
Counter(data.outcome)

Counter({0: 384, 1: 69, 2: 1210, 3: 65})

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
objects=np.array(['sai','gula','niki','pram','sai'])
objects

array(['sai', 'gula', 'niki', 'pram', 'sai'], dtype='<U4')

In [ ]:
obj=pd.DataFrame(objects,columns=['obj'])

In [ ]:
obj

    obj
0   sai
1  gula
2  niki
3  pram
4   sai

In [ ]:
#bayers theorem:
#guassian:normal dist
#multinomial :text data
#bernoulli :classification(true or false)

In [ ]:
import pandas as pd
data=pd.read_csv('/content/spam (1).csv',encoding='latin-1')
data.head()

   type                                              email
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
x=data.email
y=data.type

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
vect=CountVectorizer()

In [ ]:
x=vect.fit_transform(x)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y)

In [ ]:
model=MultinomialNB()

In [ ]:
model.fit(x_train,y_train)

MultinomialNB()

In [ ]:
y_predict=model.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_predict,y_test)*100

98.49246231155779

# ***EDA***

In [ ]:
pip install pandas_profiling

Requirement already satisfied: pandas_profiling in /usr/local/lib/python3.7/dist-packages (1.4.1)
Requirement already satisfied: jinja2>=2.8 in /usr/local/lib/python3.7/dist-packages (from pandas_profiling) (2.11.3)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.7/dist-packages (from pandas_profiling) (1.3.5)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from pandas_profiling) (1.15.0)
Requirement already satisfied: matplotlib>=1.4 in /usr/local/lib/python3.7/dist-packages (from pandas_profiling) (3.2.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.8->pandas_profiling) (2.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas_profiling) (3.0.7)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas_profiling) (1.21.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas_profiling) (1.3.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas_profiling) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas_profiling) (0.11.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19->pandas_profiling) (2018.9)

In [ ]:
from pandas_profiling import ProfileReport

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv('/mtcars.csv')

In [ ]:
data

              car_model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0             Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1         Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2            Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3        Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4            Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
5               Valiant  18.1    6  225.0  105  ...  20.22   1   0     3     1
6            Duster 360  14.3    8  360.0  245  ...  15.84   0   0     3     4
7             Valiant 2  18.1    6  225.0  105  ...  20.22   1   0     3     1
8               Valiant  18.1    6  225.0  105  ...  20.22   1   0     3     1
9              Merc 280  19.2    6  167.6  123  ...  18.30   1   0     4     4
10            Merc 280C  17.8    6  167.6  123  ...  18.90   1   0     4     4
11           Merc 450SE  16.4    8  275.8  180  ...  17.40   0   0     3     3
12           Merc 450SL  17.3    8  275.8  180  ...  17.60   0   0     3     3
13          Merc 450SLC  15.2    8  275.8  180  ...  18.00   0   0     3     3
14   Cadillac Fleetwood  10.4    8  472.0  205  ...  17.98   0   0     3     4
15  Lincoln Continental  10.4    8  460.0  215  ...  17.82   0   0     3     4
16    Chrysler Imperial  14.7    8  440.0  230  ...  17.42   0   0     3     4
17             Fiat 128  32.4    4   78.7   66  ...  19.47   1   1     4     1
18          Honda Civic  30.4    4   75.7   52  ...  18.52   1   1     4     2
19       Toyota Corolla  33.9    4   71.1   65  ...  19.90   1   1     4     1
20        Toyota Corona  21.5    4  120.1   97  ...  20.01   1   0     3     1
21     Dodge Challenger  15.5    8  318.0  150  ...  16.87   0   0     3     2
22          AMC Javelin  15.2    8  304.0  150  ...  17.30   0   0     3     2
23           Camaro Z28  13.3    8  350.0  245  ...  15.41   0   0     3     4
24     Pontiac Firebird  19.2    8  400.0  175  ...  17.05   0   0     3     2
25            Fiat X1-9  27.3    4   79.0   66  ...  18.90   1   1     4     1
26        Porsche 914-2  26.0    4  120.3   91  ...  16.70   0   1     5     2
27         Lotus Europa  30.4    4   95.1  113  ...  16.90   1   1     5     2
28       Ford Pantera L  15.8    8  351.0  264  ...  14.50   0   1     5     4
29         Ferrari Dino  19.7    6  145.0  175  ...  15.50   0   1     5     6
30        Maserati Bora  15.0    8  301.0  335  ...  14.60   0   1     5     8
31           Volvo 142E  21.4    4  121.0  109  ...  18.60   1   1     4     2

[32 rows x 12 columns]

In [ ]:
ProfileReport(data)

TypeError: ignored

In [ ]:
#bias(training data)
#variance(testing part)
#(low variance)